{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot passe - La Boutique Française!
{% endblock %}

{% block content %}
	<h1>Modifier mon mot passe</h1>
	{% if notification %}
		<div class="alert alert-info">{{ notification }}</div>
	{% endif %}
	{{form(form)}}
		<br/>
		<a href="{{path('profile')}}">Retourner dans mon profile</a>
		<br/>
	{% endblock %}
